<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Docs</title>
</head>
<body>
<h2>Как пользоваться API калькулятора</h2>
<p>Заррос должен быть вида /api?x={x}&y={y}&operation={operation}.</p>
<p>Здесь: <br /> x, y: любое число <br /> operation: 0 - сложение, 1 - вычитание, 2 - умножение, 3 - деление.</p>
<p>Пример: <br />Для того, чтобы получить результат вычисления выражения 5 + 10: <a href="/api?x=5&y=10&operation=0">/api?x=5&y=10&operation=0</a></p>
</body>
</html>
